<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a  [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="text-profile">{{ 'dashboard' | translate }}</span>
        </a>
        <a  [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file"></i>
            <span class="text-profile">{{ 'reports' | translate }}</span>
        </a>
        <a  [routerLink]="['/skilltracker']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>
            <span class="text-profile">{{ 'Skill Tracker' | translate }}</span>
        </a>
        <a  [routerLink]="['/cron']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>
            <span class="text-profile">{{ 'Cron' | translate }}</span>
        </a>

    </ul>
</nav>
