<div class="reports-section" [@routerTransition]>
	<h6 class="text-muted-header"> Cron Jobs </h6>
	<div class="horizontal-pipe-line"></div>
	<div class="tabs-details-container">
		<div class="tabs-list">
			<ngb-tabset>
				<!-- SKILL TRACKER TAB START -->
				<ngb-tab>
					<ng-template ngbTabTitle> Cron Jobs</ng-template> 
					<ng-template ngbTabContent>
						<div class="nav-link-column" >
							<div class="nav-link-actions">
								<div class="nav-link-box">
									<!-- PRIMARY SKILLS FORM/TABLE -->
									<div class="row">
										<!-- Primary Skill Table -->
										<div class="col-12 mt-3">
											<table style="width:100%">
												<thead>
													<th>SL No</th>
													<th>Cron Jobs</th>
													<th>Desciption</th>
													<th>Last Run Date</th>
													<th>Next Run Date</th>
													<th>Action</th>
												</thead>
												<tbody>
													<!-- THESE ROWS WILL BE CREATED FOR CURRENT QUARTER -->
													<tr *ngFor="let val of cronJobs; let i = index">
														<td> <span>{{i+1}}</span> </td>
														<td> <span>{{val.cron_name}}</span> </td>
														<td> <span>{{val.cron_description}}</span> </td>
														<td> <span>{{val.last_run_date}}</span> </td>
														<td> <span>{{val.next_run_date}}</span> </td>
														<td> <button type="button" class="btn btn-primary btn-sm" (click)="runCron(val.id)">Run Now</button> </td>
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<!-- SKILL TRACKER TAB END -->
				
				
			</ngb-tabset>
		</div>
	</div>
</div>

