<div class="reports-section" [@routerTransition]>
    <h6 class="text-muted-header"> Skill Tracker </h6>
    <div class="horizontal-pipe-line"></div>
    <div class="tabs-details-container">
        <div class="tabs-list">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle> Skill Tracker</ng-template> 
                    <ng-template ngbTabContent>
                        <div class="nav-link-column" >
                            <div class="nav-link-actions">
                                <div class="nav-link-box">
                                    <div>
                                        <div class="row">
                                            <label class="col col-md-3">Evaluation  Quarter: </label>
                                            <select class="col col-md-3" (change)="filterForeCasts($event.target.value)">
                                                <!-- <option>Select Evaluation Quarter</option> -->
                                                <option *ngFor="let quarter of evaluationQrtr" value={{quarter}}>
                                                    {{quarter}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="isPrimarySkills" style="margin-top: 10px;">
                                            <h5>Resoursing Skill Set: </h5>
                                            <table style="width:100%">
                                                <tr>
                                                    <th *ngFor="let col of columns">
                                                    {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let skills of skillDetails; let i = index">
                                                    <td> {{i+1}}
                                                    </td>
                                                    <td>
                                                    {{skills.s_name}}
                                                    </td>
                                                    <td>
                                                        <input type="text" (keypress)="numberOnly($event)">
                                                    </td>
                                                    <td>
                                                        <select (change)="filterLogitivityScore($event.target.value)">
                                                            <option>Select score</option>
                                                            <option *ngFor="let logitive of logitivityScore" value={{logitive.id}}>
                                                                {{logitive.name}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select (change)="filterForeCasts($event.target.value)">
                                                            <option>Select score</option>
                                                            <option *ngFor="let exp of experienceScore" value={{exp.id}}>
                                                                {{exp.name}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" readonly>
                                                    </td>
                                                    <td>
                                                        <input type="text" readonly val="30-10-2019">
                                                    </td>
                                                </tr>
                                                <!-- <tr *ngFor="let char of skillDetails | async">
                                                    <td *ngFor="let col of columns">
                                                    {{char[col]}}
                                                    </td>
                                                </tr> -->
                                            </table>
                                        </div>

                                        <div class="row" *ngIf="isPrimarySkills" style="margin-top:10px;">
                                            <div class="col col-md-6" style="text-align: right;">
                                                <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
                                            </div>
                                            <div class="col col-md-6">
                                                <button type="button" class="btn" (click)="onReset()">Reset</button>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="isHorizonSkills" style="margin-top:10px;">
                                            <h5> Horizon Skill Set: </h5>
                                            <div class="col col-md-12">
                                                <button type="button" class="btn btn-primary" (click)="openModalDialog()">Add Skills</button>
                                                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                                            </div>
                                        </div>
                                        <div *ngIf="submittedData && horizonSkillDetails.length > 0">
                                            <table style="width:100%">
                                                <tr>
                                                    <th>Sl No</th>
                                                    <th>Skills</th>
                                                    <th>Select</th>
                                                </tr>
                                                <tr *ngFor="let second of horizonSkillDetails; let i = index">
                                                    <td>{{i+1}}</td>
                                                    <td>
                                                    {{second.skill}}
                                                    </td>
                                                    <td>
                                                        <select (change)="skillLevel($event.target.value)">
                                                            <option>Select</option>
                                                            <option *ngFor="let eva of Evaluated" value={{eva.id}}>
                                                                {{eva.value}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" *ngIf="submittedData && horizonSkillDetails.length > 0" style="margin-top:10px;">
                                            <div class="col col-md-6" style="text-align: right;">
                                                <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
                                            </div>
                                            <div class="col col-md-6">
                                                <button type="button" class="btn" (click)="onReset()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                        <ng-template ngbTabTitle> Approval</ng-template> 
                        <ng-template ngbTabContent>
                            <div class="nav-link-column" >
                                <div class="nav-link-actions">
                                    <div class="nav-link-box">
                                        <div>
                                            <div class="row">
                                                <label class="col col-md-3">Evaluation  Quarter: </label>
                                                <select class="col col-md-3" (change)="filterApproval($event.target.value)">
                                                    <option>Select Evaluation Quarter</option>
                                                    <option *ngFor="let quarter of evaluationQrtr" value={{quarter}}>
                                                        {{quarter}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div style="height: 10px;"></div>
                                            <div class="row">
                                                <label class="col col-md-3">Employee: </label>
                                                <select class="col col-md-3" (change)="filterForeCasts($event.target.value)">
                                                    <option>Select Employee ID</option>
                                                    <option *ngFor="let emp of employeeId" value={{emp.id}}>
                                                        {{emp.id}} - {{emp.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="isPrimarySkills" style="margin-top: 10px;">
                                                <h5>Resoursing Skill Set: </h5>
                                                <table style="width:100%">
                                                    <tr>
                                                        <th *ngFor="let col of managerColumns">
                                                        {{col}}
                                                        </th>
                                                    </tr>
                                                    <tr *ngFor="let skills of skillDetails; let i = index">
                                                        <td> {{i+1}}
                                                        </td>
                                                        <td>
                                                        {{skills}}
                                                        </td>
                                                        <td>
                                                            <input type="text">
                                                        </td>
                                                        <td>
                                                            <select (change)="filterForeCasts($event.target.value)">
                                                                <option>Select score</option>
                                                                <option *ngFor="let logitive of logitivityScore" value={{logitive.id}}>
                                                                    {{logitive.name}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select (change)="filterForeCasts($event.target.value)">
                                                                <option>Select score</option>
                                                                <option *ngFor="let exp of experienceScore" value={{exp.id}}>
                                                                    {{exp.name}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly>
                                                        </td>
                                                    </tr>
                                                    <!-- <tr *ngFor="let char of skillDetails | async">
                                                        <td *ngFor="let col of columns">
                                                        {{char[col]}}
                                                        </td>
                                                    </tr> -->
                                                </table>
                                            </div>
    
                                            <div class="row" *ngIf="isPrimarySkills" style="margin-top:10px;">
                                                <div class="col col-md-12" style="text-align: center;">
                                                    <button type="button" class="btn btn-success">Approve</button>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="isHorizonSkills" style="margin-top:10px;">
                                                <h5> Horizon Skill Set: </h5>
                                            </div>
                                            <div>
                                                <table style="width:100%">
                                                    <tr>
                                                        <th>Sl No</th>
                                                        <th>Skills</th>
                                                        <th>Select</th>
                                                    </tr>
                                                    <tr *ngFor="let second of EvaluatedData; let i = index">
                                                        <td>{{i+1}}</td>
                                                        <td>
                                                        {{second}}
                                                        </td>
                                                        <td>
                                                            <select (change)="filterForeCasts($event.target.value)">
                                                                <option>Select</option>
                                                                <option *ngFor="let eva of Evaluated" value={{eva.id}}>
                                                                    {{eva.value}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="row" style="margin-top:10px;">
                                                <div class="col col-md-12" style="text-align: center;">
                                                    <button type="button" class="btn btn-success">Approve</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<!-- After clicking the button open the modal dialog using open/close event binding methods -->
<!-- <button type="button" class="btn btn-info btn-lg" (click)="closeModalDialog()">Open Login Modal Dialog!</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div> -->

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
        <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
            <table style="width:100%">
                <tr>
                    <th style="width:10%;">Choose</th>
                     <th>Skills</th>
                </tr>
                <tr *ngFor="let skills of secondarySkillDetails; let i = index">
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" (change)="changeHorizonBox(skills[s_model],skills.s_name)" [(ngModel)]="skills[s_model]" [ngModelOptions]="{standalone: true}">
                            </label>
                        </div>
                    </td>
                    <td>
                    {{skills.s_name}}
                    </td>
                </tr>
            </table>
            <!-- <button type="button" class="btn btn-info btn-lg" style="margin-top: 10px; text-align: center;">Add</button> -->
            <input type = "submit" class="btn btn-success" value = "Add">
         </form>
      </div>

      <!-- modal-footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
      </div> -->
    </div>
  </div>
</div>