$sky-blue : #24AEE4;
table {
    margin-top: 4px;
    thead {
        th {
            font-size: 12px;
            text-align: center;
            paddding:3px !important;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    tbody {
        tr {
            font-size: 13px;
            text-align: center;
        }
    }
}
.reports-section{
    h6.text-muted-header {
        color: #00b0e3;
        font-weight: bold;
        margin: 5px 10px 15px;
        font-size: 14px;
    }
    div.horizontal-pipe-line {
        height: 1px;
        background-color: #bbb;
        opacity: 0.5;
    }
    .tabs-list {
        margin: 20px 10px 0;
    }
    div.tabs-details {
        border: 1px solid #ddd;
        min-height: 100px;
        margin: -1px 10px 10px;
    }
    .user-profile {
        border:1px solid #aaaaaa;
        margin:20px;
    }
    .form-group{
        margin-bottom: 0px;
        .col-form-label-sm {
            font-size: 12px;
        }
    }
    .tab-h6 {
        margin:20px 0px;
        font-size:14px;
        color:$sky-blue;
        font-weight: 600;
    }
    .bold {
        font-weight: bold;
    }
    .nav-link-column {
        padding: 20px;
    }
    h6.text-muted-sub-header {
        font-size: 12px;
        font-weight: bolder;
    }
    a.nav-link-action {
        font-size: 12px;
    }
    .nav-link-actions {
        margin-top: 5px;
        .nav-link-box {
            padding: 2px 0;
        }
    }
    .nav-link-box ul {
        padding: 0px 10px;
        list-style-type: none;
        li {
            margin-bottom: 10px;
        }
    }
}
.panel-default {
  padding:15px;
    background:#92c18442;
    margin:5px 0px;
    .panel-heading {
        padding:5px;
    }
    .panel-title {
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        font-weight: 600;
        color: #417502;
    }
}
