<div class="reports-section" [@routerTransition]>
    <h6 class="text-muted-header"> Skill Tracker </h6>
    <div class="horizontal-pipe-line"></div>
    <div class="tabs-details-container">
        <div class="tabs-list">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle> Skill Tracker</ng-template>
                    <ng-template ngbTabContent>
                        <div class="col-md-3 nav-link-column">
                            <div class="nav-link-actions">
                                <div class="nav-link-box">
                                        <form #addSkill = "ngForm" (ngSubmit) = "onClickSubmit(addSkill.value)" >
                                            Select Skill : <select name="skill" required="" ngModel>
                                                <option value="" selected>-------Choose Skill---------</option>
                                                <option value="PhP">PhP</option>
                                                <option value="Java">Java</option>
                                                <option value=".Net">.Net</option>
                                                <option value="Angular">Angular</option>
                                            </select><br/><br/>
                                            Skill Type:
                                            <input type = "radio" name = "skilltype" value="Primary" ngModel>Primary 
                                            <input type = "radio" name = "skilltype" value="Horizon3" ngModel> Horizon3<br/><br/>

                                            <!--<div class="form-check">
                                              <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked mdbInput>
                                              <label class="form-check-label" for="materialChecked">Primary</label>
                                            </div>-->
                                           <input type = "submit" value = "Add Skill">

                                        </form>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>


